/******************************************************************
Site Name: Williams.edu
Author: Williams Webteam
Stylesheet: 710px and Up Stylesheet
******************************************************************/

/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/

/*********************
NAVIGATION STYLES
*********************/

//original selectors
//.entry-content blockquote.alignleft, .entry-content blockquote.alignright
%extend_42 {
  border-width: 4px 0 0 0;
  padding: .9em 0 0;
  width: calc(50% - .7em);
}

.content-main {
  .widget {
    flex: 1;
    margin: 0 4% 0 0;
    min-width: 46%;
  }
}

.site-banner {
  .header-image {
    height: 240px;
    img {
      @include bullseye(absolute);
    }
  }
}

.network-header {
  .wordmark {
    width: 70%;
  }


    .menu-toggle {
      padding: 20px 27px;
      top:8px;
      right: 34px;
      .toggle-title {
        display: inline-block;
        margin-right: 8px;
		transition: 0.15s all ease;
      }
      &.toggled-on{
	      .toggle-title{
		
	      }
      }
    }
  
}

.network-utility-container {
  .site-title {
    .site-title-inner > span {
      padding: 1em $gutter_lg;
    }
  }
}

.site-description {
  display: block;
}

.tool-pagination {
  .page-numbers {
    display: inline-block;
  }
}

.post-navigation {
  .post-title {
    font-size: $base_font_size + 10px;
    line-height: 1.25;
  }
}

.entry-content {
  blockquote {
    &.alignleft {
      @extend %extend_42;
    }
    &.alignright {
      @extend %extend_42;
    }
    > ul {
      margin-left: 1.25em;
    }
    > ol {
      margin-left: 1.5em;
    }
    blockquote:not(.alignleft):not(.alignright) {
      margin-left: 0;
    }
  }
  ol {
    margin-left: 0;
  }
  li {
    > ul {
      margin-left: 1.25em;
    }
    > ol {
      margin-left: 1.5em;
    }
  }
}

.entry-summary {
  blockquote {
    margin-left: -1.5em;
    blockquote {
      margin-left: 0;
    }
    > ul {
      margin-left: 1.25em;
    }
    > ol {
      margin-left: 1.5em;
    }
  }
  ul {
    margin-left: 0;
  }
  ol {
    margin-left: 0;
  }
  li {
    > ul {
      margin-left: 1.25em;
    }
    > ol {
      margin-left: 1.5em;
    }
  }
}

.content-bottom-widgets {
  .widget-area {
    margin-bottom: 5.25em;
  }
}

.main-title {
  /*font-size: $base_font_size + 15px;*/
  line-height: 1.3;
  margin-bottom: 1em;
}

.comment-content {
  blockquote {
    margin-left: -1.5em;
    blockquote {
      margin-left: 0;
    }
    > ul {
      margin-left: 1.25em;
    }
    > ol {
      margin-left: 1.5em;
    }
  }
  ul {
    margin-left: 0;
  }
  ol {
    margin-left: 0;
  }
  li {
    > ul {
      margin-left: 1.25em;
    }
    > ol {
      margin-left: 1.5em;
    }
  }
}

.comment-author {
  margin-bottom: 0;
  .avatar {
    height: 42px;
    position: relative;
    top: 0.25em;
    width: 42px;
  }
}

.comment-list {
  .children > li {
    padding-left: 1.75em;
  }
}

.widecolumn {
  margin-bottom: 5.25em;
  padding-right: 23%;
}

body:not(.search-results) {
  .entry-summary {
    li {
      > ul {
        margin-left: 1.2em;
      }
      > ol {
        margin-left: 1.5em;
      }
    }
    blockquote {
      > ul {
        margin-left: 1.2em;
      }
      > ol {
        margin-left: 1.5em;
      }
    }
  }
}
// increase header sizes on large devices
h1 {
  font-size: $base_font_size + 31px;

  &.page-title {
    color: $almost_black;
    font-size: $base_font_size + 31px;
    margin-bottom: 32px;
    font-weight: 500;
    letter-spacing: 1.6px;
  }
}

h2 {
 
  font-weight: 100;
  font-size: $base_font_size + 11px;
  color: $almost_black;
  margin-bottom: 15px;
  line-height: 27px;
}

h3 {

  font-size: $base_font_size + 9px;
  margin-bottom: 12px;
}

h4 {

  font-size: $base_font_size + 2px;
  font-weight: bold;
}

h5 {

  font-size: $base_font_size + 2px;
  font-weight: 500;
}

h6 {
  font-size: $base_font_size + 2px;
  font-weight: 500;
  font-family: $serif;
}

