//colors
$color_astral_approx: #3586aa;
$color_scooter_approx: #27acd3;
$color_zumthor_approx: #eff6fc;

#fancybox-loading {
  margin-left: 1em;
}

.site-content .content-inner .post-content {
  .record_wrapper p {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

.record_wrapper {
  clear: both;
  padding: 15px 0;
}

.record_wrapper-index {
  @include clearfix;
  padding: 15px 0;
  float: left;
  width: 100%;
  &.left_column {
    clear: both;
    margin-right: 2%;
  }
}

.record_wrapper-2col {
  @include clearfix;
  padding: 15px 0;
  float: left;
  width: 100%;

  &.left_column {
    clear: both;
    margin-right: 2%;
  }
}

/*.record-photo {
  float: left;
  padding-right: 15px;
}
.record-info-index {
  float: left;
  width: 63%;
}*/

.site-content .content-inner .post-content .record-info-2col {
  /*margin-left: 120px;*/
  font-size: 14px;
}

/* default style for directory information */
.wms-directory-wrapper {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-family: $sans-serif;
  text-decoration: none;
  line-height: 16px;
  .index-row {
    float: left;
    width: 100%;
  }
}

.wms-directory-wrapper .vcard {
  .name {
    font-size: 18px;
    font-weight: 500;
    a {
      /*text-decoration: none;*/
      padding-bottom: 5px;
      font-weight: 500;
    }
  }
  .title {
    font-size: 15px;
    font-style: italic;
    padding: 3px 0 8px;
    line-height: 18px;
  }
  span {
    display: block;
    padding-top: 3px;
    /* tiny overides because phone #s are all uppercase and email all lower */
    &.phone {
      padding-top: 5px;
    }
    &.email {
      padding-top: 2px;
    }
  }
}

/*.record-info {
  margin-left: 120px;
}*/
/*.record-indented {
  margin-left: 120px;
}*/
.more-info-title {
  color: $links;
  cursor: pointer;
  margin-top: 3px;
}

.home-info {
  background-color: $color_zumthor_approx;
  border: 1px solid $grey;
  padding: 10px;
}

.home-info-title {
  font-weight: bold;
}

/*------------------------------------------------------------------------------
 * GOOGLE SEARCH RESULTS
 *------------------------------------------------------------------------------*/
/* hide results count & branding */
.gsc-above-wrapper-area-container {
  display: none;
}

.gsc-above-wrapper-area {
  display: none;
}

#___gcse_2 .gsc-control-cse {
  padding-top: 0;
  padding-left: 0;
}

body.directory .gcsc-branding {
  display: none;
}

/* tweak results format */
.gsc-webResult {
  margin-bottom: 0 !important;
}

.gsc-control-cse {
  padding-right: 0 !important;
}

.gsc-resultsHeader {
  margin-top: -15px;
}

.gsc-results {
  width: 100% !important;
}

.gsc-control-cse, .gsc-control-cse .gsc-table-result {
  font-family: arial, sans-serif !important;
}

/* single result title/link */
body.directory .gs-webResult.gs-result a.gs-title:link,
body.directory .gs-webResult.gs-result a.gs-title:visited,
body.directory .gs-webResult.gs-result a.gs-title:link b,
body.directory .gs-webResult.gs-result a.gs-title:visited b,
body.directory .gs-promotion a.gs-title:link,
body.directory .gs-promotion a.gs-title:visited,
body.directory .gs-promotion a.gs-title:link em,
body.directory .gs-promotion a.gs-title:visited em,
body.directory .gs-promotion a.gs-title:link *,
body.directory .gs-promotion .gs-snippet a:link {
  color: #8b3804 !important;
}

body.directory .gsc-control-cse .gs-spelling,
body.directory .gsc-control-cse .gs-result .gs-title,
body.directory .gsc-control-cse .gs-result .gs-title * {
  font-size: 15px;
}

body.directory .gs-result .gs-title,
body.directory .gs-result .gs-title * {
  text-decoration: underline;
}

/* url at bottom of single result */
body.directory .gs-webResult div.gs-visibleUrl,
body.directory .gs-imageResult div.gs-visibleUrl,
body.directory .gs-promotion .gs-visibleUrl,
body.directory .gs-promotion .gs-visibleUrl-short {
  color: #6f7d64;
  font-style: italic;
}

/* url at bottom of promotion result */
body.directory .gs-promotion .gs-visibleUrl,
body.directory .gs-promotion .gs-visibleUrl-short {
  color: #3b4235;
}

/* search promotion boxes */
.gsc-webResult.gsc-result.gsc-promotion {
  display: none;
}

.gsc-webResult.gsc-result.gsc-promotion:hover {
  background-color: #F8FFF2 !important;
}

/* no results */
body.directory .gs-no-results-result .gs-snippet,
body.directory .gs-error-result .gs-snippet {
  padding: 0;
  margin: 0;
  border: none;
  background: white;
}

/* pagination */
body.directory .gsc-results .gsc-cursor-box .gsc-cursor-page {
  color: #27ACD3;
}

/*------------------------------------------------------------------------------
 * PEOPLE/PLACE SEARCH RESULTS
 *------------------------------------------------------------------------------*/
.directory-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
  width: 100%;
}

#results-container, #directory_nav {
  padding: 12px;
}

.results-content .directory-item:last-child {
  border-bottom: none;
}

.directory-detail {
  margin-bottom: 8px;
  margin-top: -8px;
  font-size: 13px;
}

.directory-detail div {
  margin-bottom: 2px;
}

.directory-title {
  clear: both;
  cursor: pointer;
  padding: 2px 0 12px 0;
}

span.person-name {
  font-weight: bold;
  color: #3F541D;
}

/*#searchform_directory input,
#searchform_directory select {
  background: #ffffff;
  border: 1px solid #bbb;
  height: 45px;
  border-radius: 5px;
}*/
#searchform_directory .input {
  margin-right: 15px;
  position: relative;
}

.directory-detail-toggle {
  display: block;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  width: 12px;
  height: 12px;
  //background: url("../img/arrow_right_green.png") no-repeat top;
}

.directory-detail-expanded {
  //background-image: url("../img/arrow_down_green.png");
}

p#directory-disclaimer {
  margin: 1em 0;
  width: 80%;
  font-size: 14px;
  color: #777;
}

/*------------------------------------------------------------------------------
 * DEPARTMENTS & OFFICES DIRECTORY
 *------------------------------------------------------------------------------*/
table.wms-dept-info {
  margin-top: 1em;
}

.wms-dept-info td {
  padding: 4px 10px;
}

.wms-dept-info form, .wms-dept-info .pagination {
  display: flex;
  justify-content: space-around
}

.wms-dept-info tr.dept-level-0 {
  border-top: 1px solid #C3B730;
}

.wms-dept-info tr.dept-level-0 td.parent {
  padding: 9px 10px;
}

.wms-dept-info .dept-level-1 .child {
  padding-left: 35px;
}

/*------------------------------------------------------------------------------
 * A-Z DIRECTORY
 *------------------------------------------------------------------------------*/
/* layout */
#a-z-list {
  width: 75%;
  float: left;
}

#a-z-message {
  line-height: 1.2;
  margin-top: 1em;
}

#a-z-filter {
  position: relative;
  width: 100%;
}

#a-z-filter * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#a-z-filter input.filter {
  margin: 0;
  width: 100%;
}

.a-z-tools {
  float: right;
  max-width: 245px;
  width: 25%;
}

/* a-z nav blocks */
#alphabet-nav {
  margin-bottom: 10px;
  margin-right: 0;
  margin-top: 10px;
}

#main .a-z-alpha a,
#main .a-z-alpha-all a {
  display: block;
  width: 40px;
  padding: 10px;
  background: #3F541D;
  float: left;
  color: white;
  text-align: center;
  margin-right: 1px;
  margin-bottom: 1px;
  text-decoration: none;
}

#main .a-z-alpha a:hover {
  color: white;
  background: #8AB840;
}

/* basic item units */
.a-z-item {
  padding: 4px 0 4px 30px;
}

/* letter section headers */
.letter-group {
  width: 90%;
  float: left;
  margin-right: 2%;
  margin-bottom: 10px;
}

.a-z-section.bar-header {
  padding: 0;
  background: #9eb28f;
  margin: 10px 0;
  height: 30px;
}

#main .a-z-section a {
  color: white;
  display: block;
  background: #3f541d;
  line-height: 30px;
  width: 30px;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  border-right: 1px solid white;
  cursor: default;
}

#main .a-z-section a:hover {
  color: white;
}

/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: $mobile_portrait) {
}

/*********************
MOBILE WIDE
*********************/
@media only screen and (min-width: $mobile_landscape) {

}

/*********************
TABLET & SMALL LAPTOPS
*********************/
@media only screen and (min-width: $tablet) {
  .record_wrapper-2col {
    @include clearfix;
    padding: 15px 0;
    float: left;
    width: 49%;
    &.left_column {
      clear: both;
      margin-right: 2%;
    }
  }
  .letter-group {
    width: 46%;
  }
  #searchform_directory .input {
    width: 40%;
    float: left;
  }
  .record_wrapper-index {
    width: 49%;
  }
}

/*********************
DESKTOP
*********************/
@media only screen and (min-width: $desktop) {

}

/*********************
LARGE VIEWING SIZE
*********************/
@media only screen and (min-width: $large) {

}

