.breadcrumbs {
  font-size: $base_font_size;
  font-weight: 500;
  font-style: italic;
  color: #606060;
  letter-spacing: 0.9px;

  a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
  }
}

.site-content {
  .content-inner {
    #secondary,
    #tertiary {
      .menu-toggle {
        position: absolute;
        right: 5px;
        top: -1em;

        .dashicons-menu {
          line-height: 1.55;
        }
      }

      .menu-container {
        .no-js & {
          display: block;
        }

        width: 100%;
        margin-top: 0;
        margin-bottom: 30px;
      }
    }

    #secondary {
      .menu-container {
        background: #fff;
        box-shadow: 0 25px 40px 0 rgba(0, 0, 0, 0.1);
        padding: 24px;
      }
    }

    #tertiary {
      .widget_nav_menu {
        & > .title {
          @extend %visuallyhidden;
        }

        li {
          .top-level-a {
            display: block;

            span.title {
              font-size: 17px;
              font-weight: 500;
            }
          }

          &.menu-item-has-children {
            .top-level-a {
              height: 45px;
            }
          }
        }
      }
    }
  }
}

.menu-toggle,
.menu-toggle-featherlight {
  position: relative;
  background: transparent;
  border: none;
  padding: 0;

  .toggle-title {
    position: relative;
    top: 1px;
  }

  .bt-bars:before {
    font-size: $base_font_size;
    margin-left: 5px;
    font-weight: 900;
  }

  &.toggled-on {
    .bt-bars:before {
      content: "\f00c";
      color: rgba($action-purple, 1);
    }
  }

  .btb {
    opacity: 0.7;
  }
}

.dropdown-toggle {
  color: $almost_black;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 9px;
  line-height: 1;
  width: 40px;

  &:after {
    @extend %sm_blacktie;
    content: "\f01b";
    border: 0 solid $dark_grey;
    border-left-width: 1px;
    font-size: $base_font_size + 3px;
    left: 1px;
    position: relative;
    width: 40px;
    line-height: 40px;
  }

  &:hover {
    color: $blue;
  }

  &:focus {
    color: $blue;
    /*outline: thin dotted;
    outline-offset: -1px;*/
    &:after {
      border-color: transparent;
    }
  }

  &.toggled-on {
    color: $blue;

    &:after {
      font-family: $blacktie;
      content: "\F021";
      font-weight: 800;
      color: #9b21a5;
    }
  }
}

.child .dropdown-toggle {
  top: 0;
}

.widget_nav_menu {
  @include clearfix;

  nav {
    @include clearfix;

    & > ul > li {
      margin-bottom: 5px;
    }
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 0;
      position: relative;

      a {
        display: block;
        line-height: 1.2;
        padding: 0.3em 10px 0.3em 0;
        opacity: 0.8;
        transition: 0.3s all;
        text-decoration: none;

        &:hover {
          opacity: 1;
        }

        &[href=""] {
          opacity: 1;
        }
      }
    }

    .current-menu-item {
      font-weight: 500;
      color: $black;
    }

    .current-menu-item > a {
      color: $black;
    }

    .current-menu-ancestor > a,
    .current-page-ancestor > a {
      color: $almost_black;
    }

    &.nav-drop {
      display: none;
      margin-left: 0;
      padding-left: 0;

      li a {
        font-size: $base_font_size - 2px;
        text-decoration: none;
      }
    }

    .toggled-on {
      display: block;
    }
  }

  &.callout-menu {
    .widget-insides {
      padding: 0;

      li {
        a {
          transition: all 0.1s;
          background-color: $orange; // Old browsers
          border: 2px solid rgb(255, 255, 255);
          @include linear-gradient(
                          left,
                          $white -1%,
                          $white 28px,
                          $orange 28px,
                          $orange 100%,
                  $fallback: $orange
          );
          border-radius: 10px;
          box-shadow: 0 0 0 2px $orange;
          color: $white;
          font-size: $base-font-size + 2;
          margin: 0 0 1em 0;
          padding: 12px 10px 12px 35px;
          position: relative;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3),
          0 0 3px rgba(0, 0, 0, 0.1);

          &:hover {
            @include linear-gradient(
                            left,
                            $white -1%,
                            $white 28px,
                            darken($orange, 5%) 28px,
                            darken($orange, 5%) 100%,
                    $fallback: $orange
            );
          }

          &:before {
            color: $orange;
            border-radius: 5px 0 0 5px;
            content: "!";
            position: absolute;
            left: 0;
            top: 0;
            width: 28px;
            text-align: center;
            text-shadow: none;
            font-family: Georgia, serif;
            font-size: 27px;
            font-weight: 700;
            @include bullseye(absolute, 14px);
          }
        }
      }
    }
  }
}

#secondary {
  // #site-navigation container
  margin-top: 25px;
}

#site-navigation {
  margin: 0;

  li {
    .top-level-a {
      display: block;
      /*outline: none;*/
      height: 65px;

      .h4 {
        @include bullseye(absolute, 26px);
        padding: 0 26px 0 0;
        margin-top: -5px;
      }
    }

    .top-level-a,
    .nav-drop-item a.nav-link {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
      -ms-transform: translateX(0);
      padding: 4px 5px;

      .h4 {
        margin-bottom: 0;
      }
    }

    & > a {
      color: $almost_black;
      font-weight: bold;
      width: 100%;
    }

    &.toggled-on {
      .top-level-a {
        .h4 {
          @include bullseye(absolute, 14px);
          transition: 0.25s padding ease-out;
          padding-right: 32px;
        }
      }
    }

    &.current-menu-item:not(.menu-item-has-children) {
      > a {
        color: $black;

        &:before {
          opacity: 0.2;
          font-family: $blacktie;
          font-weight: 900;
          display: block;
          position: absolute;
          transform: translateX(-50%) translateY(15px);
          font-size: $base_font_size - 8;
          line-height: 20px;
          width: 38px;
          content: "\F08C";
        }
      }
    }
  }

  .child li.current-menu-item > a::before {
    transform: translateX(-50%) translateY(0px);
  }

  // When site menu is collapsible.
  .toggled-on {
    .top-level-a {
      -webkit-transform: none;
      -moz-transform: none;
      -o-transform: none;
      -ms-transform: none;
      z-index: 5000;
      position: relative;
      margin-bottom: 0;
    }
  }

  .grandchild.toggled-on {
    li {
      a.nav-link {
        -webkit-transform: translateX(12px);
        -moz-transform: translateX(12px);
        -o-transform: translateX(12px);
        -ms-transform: translateX(12px);
      }
    }
  }

  .nav-drop-item a.nav-link {
    padding: 9px 5px;
  }

  .toggled-on .nav-drop-item a.nav-link {
    padding: 7px 5px;
    margin-bottom: 11px;
  }

  .nav-drop {
    li {
      a.nav-link {
        font-size: $base_font_size;
      }
    }

    &.child {
      padding: 0 0 0 12px;
    }
  }

  & > .title {
    @extend %visuallyhidden;

    span {
      color: $williams_purple;
      font-size: $base_font_size + 14px;
    }

    & + * {
      @include padding(0);
    }
  }
}

//site nav icons that reveal link type
.sidebar {
  .toggled-on a.nav-link {
    //background: #FFFFFF;
    margin: 0 18px 2px 0;
    padding-right: 0;
  }

  .menu-item-has-children {
    &:not(.toggled-on) > a {
      .h4 {
        &:after {
          font-family: $blacktie;
          content: "\F09C";
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1, mirror=1);
          -webkit-transform: scale(-1, 1) rotate(-90deg);
          -ms-transform: scale(-1, 1) rotate(-90deg);
          transform: scale(-1, 1) rotate(-90deg);
          opacity: 0.2;
          width: 13px;
          overflow: hidden;
          font-size: 24px;
          display: block;
          position: absolute;
          margin: -4px 0 0 8px;
          .no-js & {
            display: none;
          }
        }
      }

      &:not(.top-level-a) {
        &:after {
          font-family: $blacktie;
          content: "\F09C";
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1, mirror=1);
          -webkit-transform: scale(-1, 1) rotate(-90deg);
          -ms-transform: scale(-1, 1) rotate(-90deg);
          transform: scale(-1, 1) rotate(-90deg);
          opacity: 0.2;
          width: 13px;
          overflow: hidden;
          font-size: 24px;
          opacity: 0.5;
        }
      }
    }
  }

  a[href*="//"]:not([href*="williams.edu"]):not([href*="#"]) {
    .h4,
    span {
      &:after {
        font-family: $blacktie;
        content: "\F05B";
        font-size: 14px;
        opacity: 0.2;
        margin-left: 7px;
        vertical-align: inherit;
      }
    }
  }

  a[href*=".pdf"] {
    //cascade after external to override
    .h4,
    span {
      &:after {
        font-family: $blacktie;
        content: "\F02A" !important;
        font-size: 14px;
        opacity: 0.2;
        margin-left: 7px;
        vertical-align: inherit;
      }
    }
  }
}

.sidebar ul.child .menu-item-has-children:not(.toggled-on) > a.nav-link:after {
  margin: -5px 0 0 12px;
}

.navbox-container {
  display: none;
  z-index: 1;
  padding: 10px 0 5px;

  &.toggled-on {
    display: block;
  }
}

.network-header-menu {
  display: block;
  z-index: 1;
  padding: 10px 0 5px;
}

/****************************
Megamenu headers and links share styles
****************************/
%extend_menu_header_outer {
  display: block;
  cursor: pointer;
  pointer-events: auto;

  //margin: 0;
  //padding: 0;
  &:after {
    display: none;
  }
}

%extend_menu_header_inner {
  font-size: 18px;
  font-weight: 600;
  hyphens: auto;
  padding: 0.3em 0;
  margin: 0;
  color: $almost_black;
  letter-spacing: 1.1px;
  display: inline-block;
}

%extend_a_nav_link {
  color: $almost_black;
  letter-spacing: 1.1px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: inherit;

  &:after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    display: inline;
    font-family: $blacktie;
    content: "\F09B";
    font-size: 10px;
    opacity: 0;
    margin-left: 24px;
    vertical-align: inherit;
    position: absolute;
    line-height: 2;
  }

  &:hover {
    &:after {
      opacity: 0.7;
      margin-left: 7px;
      margin-right: 17px;
      color: $black;
    }
  }
}

.network-header-menu {
  nav.global-navigation {
    a.top-level-a {
      @extend %extend_menu_header_outer;

      .h4 {
        @extend %extend_menu_header_inner;
      }

      .dropdown-toggle {
        top: 0;
      }
    }

    a:not(.top-level-a) {
      @extend %extend_a_nav_link;
    }

    & > ul {
      @include display(flex);
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-flow: column;

      & > li {
        flex: 1 1 auto;

        &:nth-of-type(1) {
          flex: 1 1 auto;
          order: 1;
          -webkit-order: 1;
        }

        &:nth-of-type(2) {
          flex: 1 1 auto;
          order: 2;
          -webkit-order: 2;
        }

        &:nth-of-type(3) {
          flex: 1 1 auto;
          order: 5;
          -webkit-order: 5;

          .description {
            font-family: $serif;
            line-height: 20px;
            padding-bottom: 10px;
            display: none; //disabled
          }
        }

        &:nth-of-type(4) {
          flex: 1 1 auto;
          order: 3;
          -webkit-order: 3;
        }

        & > li.menu-item-has-children {
          & > a {
            color: $almost_black;
          }
        }
      }
    }
  }

  nav.featured-links {
    // 3rd col mega menu styles diverge
    margin: 8px 0 0 0; // align with taller header text
    ul li a.nav-link {
      .h4 {
        @extend %extend_a_nav_link;
      }
    }

    .featured-block-2 {
      // align with second row
      margin-top: 30px;
    }
  }

  #quicklinks-container {
    padding-left: 0px;

    .menu-toggle {
      @extend %extend_menu_header_outer;
      @include catheader(75%);
      margin: 5px 0;

      .toggle-title {
        font-size: 12px;
        letter-spacing: 2px;
        border-bottom: none;
        line-height: 19.2px;
        opacity: 0.9;
      }

      .bt-bars {
        opacity: 1;
        vertical-align: bottom;

        &::before {
          font-weight: 500;
          font-size: 14px;
          margin-left: 8px;
        }
      }
    }

    ul#menu-links {
      padding: 0;
      display: block; // override navigation.scss
      overflow-y: auto;
      overflow-x: hidden;

      .quick-cat {
        cursor: default;
        font-weight: bold;
      }

      li.quick-item {
        a {
          @extend %extend_a_nav_link;
        }

        &.quick-cat {
          a {
            font-weight: 700;
            color: $almost_black;
          }
        }
      }
    }
  }
}

nav.social-navigation,
nav.social-navigation-footer {
  ul {
    margin: 0 0 10px;

    li {
      display: inline-block;
      margin-bottom: 0;

      a.nav-link.top-level-a {
        display: block;
        font-size: $base_font_size - 5px;
        margin-right: 0;
        width: 7em;
        text-align: center;
        padding: 10px;
        color: $almost_black;
        cursor: pointer;
        pointer-events: inherit;
        text-decoration: none;

        .h4 {
          font-size: 11px;
          padding-top: 2px;
        }

        &:before {
          @extend %sm_blacktie;
          display: block;
          font-family: $fab;
          font-size: $base_font_size + 4;
          line-height: 1;
          margin: 0 auto;
          width: 33px;
        }

        &:after {
          content: unset;
        }

        &[href*="facebook.com"]:before {
          content: "\f000";
        }

        &[href*="flickr.com"]:before {
          content: "\f015";
        }

        &[href*="instagram.com"]:before {
          content: "\f005";
        }

        &[href*="linkedin.com"]:before {
          content: "\f003";
        }

        &[href*="twitter.com"]:before {
          content: "\f002";
        }

        &[href*="youtube.com"]:before {
          content: "\f021";
        }

        &[href*="google.com"]:before {
          content: "\f030";
        }

        &[href*="feeds"]:before {
          font-family: $blacktie;
          content: "\f00a";
        }
      }
    }
  }
}

.featherlight-content {
  & > ul {
    & > li {
      font-weight: 700;
    }
  }

  .widget_nav_menu {
    & > .title {
      @extend %visuallyhidden;
    }

    .current-menu-item > a,
    .current-menu-ancestor > a {
      color: $almost_black;
    }
  }
}

.post-navigation {
  border-top: 4px solid $almost_black;
  border-bottom: 4px solid $almost_black;
  clear: both;
  font-family: $sans_serif;
  margin: 0 $gutter_lg 3.5em;

  a {
    color: $almost_black;
    display: block;
    padding: 1.75em 0;

    &:hover .post-title {
      color: $williams_purple;
    }

    &:focus .post-title {
      color: $williams_purple;
    }
  }

  span {
    display: block;
  }

  .meta-nav {
    color: $dark_grey;
    font-size: $base_font_size - 5px;
    letter-spacing: 0.1em;
    line-height: 1.6;
    margin-bottom: 0.55em;
    text-transform: uppercase;
  }

  .post-title {
    display: inline;
    font-family: $sans_serif;
    font-size: $base_font_size + 5px;
    font-weight: 700;
    line-height: 1.23;
    text-rendering: optimizeLegibility;
    //Instead of the line below you could use @include hyphens($value)
    hyphens: auto;
  }

  div + div {
    border-top: 4px solid $almost_black;
  }
}

.image-navigation {
  @extend %extend_16;

  .nav-previous:not(:empty) {
    display: inline-block;

    + .nav-next:not(:empty):before {
      @extend %extend_17;
    }
  }

  .nav-next:not(:empty) {
    display: inline-block;
  }
}

.comment-navigation {
  @extend %extend_16;
  margin-right: 0;
  margin-left: 0;

  + {
    .no-comments {
      border-top: 0;
      padding-top: 0;
    }
  }

  .nav-previous:not(:empty) {
    display: inline-block;

    + .nav-next:not(:empty):before {
      @extend %extend_17;
    }
  }

  .nav-next:not(:empty) {
    display: inline-block;
  }
}

/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: $mobile_portrait) {
}

/*********************
MOBILE WIDE
*********************/
@media only screen and (min-width: $mobile_landscape) {
}

/*********************
TABLET & SMALL LAPTOPS
*********************/
@media only screen and (min-width: $tablet) {
  %extend_menu_header_wide_outer {
    cursor: default;
    pointer-events: none;
  }
  %extend_menu_header_wide_inner {
    font-size: 17px;
    letter-spacing: 1.1px;
    margin-bottom: 0;
    line-height: initial;
    height: initial;
  }
  .network-header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 20px;

    #global-navigation {
      flex: 1 0 45%;
    }

    nav.global-navigation {
      a.nav-link.top-level-a {
        @extend %extend_menu_header_wide_outer;

        .h4 {
          // @extend %extend_menu_header_wide_inner;
          @include catheader(60%);
          font-size: 12px;
          letter-spacing: 2px;
          border-bottom: none;
          line-height: 19.2px;
          opacity: 0.9;
        }
      }

      & > ul {
        @include flex-direction(row);
        @include flex-wrap(wrap);

        .dropdown-toggle {
          display: none;
        }

        & > li {
          //margin: 5px;
          padding: 0 10px 10px;
          flex: 1 1 22%;

          ul.nav-drop {
            margin: 0 0.2em 0 0;
            display: inherit !important;

            li {
              margin-bottom: 3px;
            }
          }

          &:last-child {
            border: none;
          }

          &:nth-of-type(1) {
            flex: 1 1 40%;
            order: 1;
            -webkit-order: 1;
          }

          &:nth-of-type(2) {
            flex: 1 1 40%;
            order: 2;
            -webkit-order: 2;
          }

          &:nth-of-type(3) {
            flex: 1 1 40%;
            order: 5;
            -webkit-order: 5;
          }

          &:nth-of-type(4) {
            flex: 1 1 40%;
          }
        }
      }
    }

    #featured-links-container {
      flex: 1 0 25%;

      #featured-links {
        h3.title {
          @extend %extend_menu_header_wide_outer;

          span {
            @extend %extend_menu_header_wide_inner;
          }
        }
      }
    }

    #quicklinks-container {
      flex: 1 0 25%; // if(IE) this != 100%
      position: relative;
      padding: 0 15px 0 54px;
      margin-left: 27px;

      &:before {
        content: "";
        border-left: 1px solid $home-gray;
        position: absolute;
        height: 93%;
        left: 0;
        bottom: 0;
        opacity: 0.3;
      }

      .menu-toggle {
        .toggle-title {
          line-height: initial;
        }
      }
    }

    .social-navigation {
      ul {
        padding: 0;
        @include clearfix;
      }
    }
  }

  .site-content {
    .content-inner {
      #secondary,
      #tertiary {
        .menu-toggle {
          display: none;
        }

        .menu-container {
          display: block;
        }
      }
    }
  }

  #site-navigation {
    li.toggled-on {
      .top-level-a {
        -webkit-transform: translateX(-40px);
        -moz-transform: translateX(-40px);
        -o-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        padding-left: 20px;
        margin-bottom: 16px;
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
        opacity: 1;
        background: white;
      }
    }
  }

  nav.featured-links {
    .featured-block-2 {
      // align with second row
      margin-top: 169px;
    }
  }
}

/*********************
DESKTOP
*********************/
@media only screen and (min-width: $desktop) {
  #site-navigation li.toggled-on .top-level-a {
    width: calc(100% + 40px);
  }
  #site-navigation li.toggled-on .top-level-a .h4 {
    transition: 0.25s padding ease-out;
    padding-left: 14px;
  }
}

/*********************
LARGE VIEWING SIZE
*********************/
@media only screen and (min-width: $large) {
}
