

  .meerkat_events_widget .widget-events {
    .event {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto auto;
      grid-gap: 20px;
      margin-bottom:  1em;
      clear: both;
      &.event-with-image > .event-text {
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }
    .event-image {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    .event-text {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    .event-title {
      font-family: canada-type-gibson, Helvetica Neue, Open Sans, sans-serif;
      font-size: 1.2em;
      line-height: 1.4em;
    }
    .event-date {
      color: $almost_black;
    }
  }

  .post-content .meerkat_events_widget .widget-events {
    .event {
    margin-bottom: 0;
    }
    .event-title {
    a {
      color: #5c9396;
    }
    }
  }

@media only screen and (min-width: $tablet) {

  .post-content .fl-col-small .meerkat_events_widget .widget-events {
    .event {
      display: block;
      padding-bottom: 5px;
      margin-bottom: 10px;
      &:after {
        content: ""; 
        display: block; 
        width: 25%; 
        padding-top: 20px;
        margin-bottom: 12px; 
        border-bottom: 1px solid #9da2a2; 
    }
      .event-photo{
        max-width: 50%;
      }
    }
  }

.post-content .meerkat_events_widget .widget-events {
  .event {
    grid-template-columns: 200px auto;
  }
  .event-title {
    font-size: 1.5em;
  }
}

} /* end media query */

