ul.accordion-tabs {
  font-family: $sans-serif;	
  $tab-border: 5px solid #f7f5f0;
  $base-spacing: 1.5em !default;
  $medium-screen: 710px !default;
  $tab-mode: $medium-screen;
  @include clearfix;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;

  &:not(.is-expando) {
    @include media($tab-mode) {
      & > .accordion-tab {
        display: inline;
        & > .tab-content {
          border-top: $tab-border;
          border-bottom: $tab-border;
          float: left;
          width: 100%;
          background-color: transparent;
		  padding: 6px 30px;
        }
        & > .link-anchor {
          top: 4px;
          right: 4px;
        }
        & > .tab-link {
          display: inline-block;
          transition: border 0s;
          background-color: transparent;
          border: 1px solid transparent;
          margin-bottom: -1px;
          padding: ($base-spacing / 2) $gutter;
          padding-right: 40px;
          text-decoration: none;
          & > .dropdown-toggle {
            display: none;
          }
        }
        &:hover,
        &.is-active {
          & > .tab-link {
            background-color: $warm_grey;
          }
        }
      }
    }
  }

  .accordion-tab {
    list-style: none;
    position: relative;
    margin: 0 0 10px;
    outline: none;

    .link-anchor {
      @extend %link_anchor;
    }

    .tab-link {
      display: block;
      padding: 10px 0 20px 20px;
      margin-right: 50px;
      

      .dropdown-toggle:after {
        color: $blue;
      }

      &:focus {
        outline: none;
      }
    }

    .tab-content {
      @include clearfix;
      /*background-color: $warm_grey;*/
      :last-child {
        margin-bottom: 0;
      }
    }

    &:hover,
    &.is-active {
      & > .tab-link {
        /* background-color: $warm_grey; */
        color: $almost_black;
        & > .dropdown-toggle:after {
          color: $almost_black;
        }
      }
      & > .link-anchor {
        display: block;
      }
    }

    &.is-active {
      & > .tab-link {
        & > .dropdown-toggle:after {
          content: "\F021";
          color: $action-purple;
          padding-top: 1px;
        }
      }
    }
  }

}
.site-content .content-inner .post-content ul.accordion-tabs li{
	font-family: $serif;
	// 	san-serif for staff listing
	.record-info-2col{
		font-family: $sans-serif;
	}
	&.accordion-tab{
		font-family: $sans-serif;
	}
}


ul.accordion-tabs{
	&.is-expando{
		 .dropdown-toggle{
			margin-right: 0;
		}
		.is-active .link-anchor{
		    position: absolute;
		    right: 50px;
		    top: 21px;
		    line-height: 1;
		    width: 40px;
		    display: none;
		}
	}
}
ul.accordion-tabs.is-expando .accordion-tab:hover > .link-anchor{
	 position: absolute;
		    right: 50px;
		    top: 21px;
	
}
/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: $larger_mobile) {
	
}
/*********************
MOBILE WIDE
*********************/
@media only screen and (min-width: $mobile) {

}

/*********************
TABLET & SMALL LAPTOPS
*********************/
@media only screen and (min-width: $tablet) {
	ul.accordion-tabs .accordion-tab .tab-link {
		margin-right: 0;
        background-color: $warm_grey;
    }
  ul.accordion-tabs .accordion-tab.is-active > .tab-link,
  ul.accordion-tabs .accordion-tab .tab-link:hover {
    background-color: $warm_grey;
  }

  ul.accordion-tabs .tab-content {
    padding: 10px 22px 30px;
  }
    ul.accordion-tabs{
	&.is-expando{
			 .is-active .link-anchor{
				display: inline-block;
			}
		}
	}
}
/*********************
DESKTOP
*********************/
@media only screen and (min-width: $desktop) {
	
}
/*********************
LARGE VIEWING SIZE
*********************/
@media only screen and (min-width: $desktop) {
	
}