/******************************************************************
Site Name:
Author:

Stylesheet: Form Styles

We put all the form and button styles in here to setup a consistent
look. If we need to customize them, we can do this in the main
stylesheets and just override them. Easy Peasy.

You're gonna see a few data-uri thingies down there. If you're not
sure what they are, check this link out:
http://css-tricks.com/data-uris/
If you want to create your own, use this helpful link:
http://websemantics.co.uk/online_tools/image_to_data_uri_convertor/

******************************************************************/

/*********************
INPUTS
*********************/

input[type="button"],
input[type="submit"] {
  @extend %btn;
  &:hover {
    background: $blue;
  }
  &:focus {
    background: $blue;
    outline: thin dotted;
    outline-offset: -4px;
  }
}

select[disabled] {
  &:hover {
    @extend %btn;
  }
  &:focus {
    @extend %btn;
  }
}

input[type="button"][disabled] {
  &:hover {
    @extend %btn;
  }
  &:focus {
    @extend %btn;
  }
}

input[type="reset"][disabled] {
  &:hover {
    @extend %btn;
  }
  &:focus {
    @extend %btn;
  }
}

input[type="submit"][disabled] {
  &:hover {
    @extend %btn;
  }
  &:focus {
    @extend %btn;
  }
}

input[type="text"],
textarea {
  @extend %extend_10;
  &:focus {
    @extend %extend_11;
  }
}

input[type="email"] {
  @extend %extend_10;
  &:focus {
    @extend %extend_11;
  }
}

input[type="url"] {
  @extend %extend_10;
  &:focus {
    @extend %extend_11;
  }
}

input[type="password"] {
  @extend %extend_10;
  &:focus {
    @extend %extend_11;
  }
}

input[type="tel"] {
  @extend %extend_10;
  &:focus {
    @extend %extend_11;
  }
}

input[type="number"] {
  @extend %extend_10;
  &:focus {
    @extend %extend_11;
  }
}

select {
  @extend %extend_10;
  &:focus {
    @extend %extend_11;
  }
}

select {
  /* styling */
  display: inline-block;
  font: inherit;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: linear-gradient(45deg, transparent 50%, $almost_black 50%),
  linear-gradient(135deg, $almost_black 50%, transparent 50%),
  linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em - -4px),
  calc(100% - 15px) calc(1em - -4px),
  calc(100% - 2.5em) 0.6em;
  background-size: 5px 5px,
  5px 5px,
  1px 1.5em;
  background-repeat: no-repeat;
}

select:focus,
select:active {
  background-image: linear-gradient(45deg, $almost_black 50%, transparent 50%),
  linear-gradient(135deg, transparent 50%, $almost_black 50%),
  linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) calc(1em - -4px),
  calc(100% - 20px) calc(1em - -4px),
  calc(100% - 2.5em) 0.6em;
  background-size: 5px 5px,
  5px 5px,
  1px 1.5em;
  background-repeat: no-repeat;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* use jQuery setup_filter plugin (common.js) to create clear-filter link. */
.filter-wrapper {
  position: relative;
  &.bt-search:before,
  .bt-times:before {
    font: normal normal normal 18px/1 "Black Tie";
    position: absolute;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    top: calc(50% - 8px);
    color: $dark_grey;
  }
  &.bt-search:before {
    left: 9px;
  }
  .bt-times:before {
    right: 9px;
  }
  input.filter {
    padding-left: 35px;
    padding-right: 30px;
  }

  a.clear-filter {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50%;
    right: 0;
    margin: -15px 0 0;
    cursor: pointer;
    background-image: none;
    color: inherit;
    outline: none;
    &:hover:before {
      color: $almost_black;
    }
  }
}
