/*------------------------------------------------------------------------------
 * IMAGE GALLERIES
 *------------------------------------------------------------------------------*/
#content .meerkat-image-gallery ul { margin:0; padding:0; }
#content .meerkat-image-gallery ul li:before { content:''; margin:0; }
#content .meerkat-image-gallery ul li a { display:block; line-height:0; }
#content .meerkat-image-gallery ul li {
	float:left;
	vertical-align:top;
	margin:0;
	padding:0;
	text-align:left;
	list-style: none;
}
.gallery-caption { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	text-align:center;
    font-style:italic;
	background:#eef8fd;
    color: #3F541D;
    border-bottom:1px solid #abb3b9;
    padding:6px 10px 8px;
	min-height:21px;
	clear:both;
	font-size:13px;
}
.icon-large .gallery-caption { font-size:14px; font-wieght:bold; }

/* nextgen-like style, esp captions */
#content .meerkat-image-gallery.ngg .gallery-icon { margin-left:10px; }
#content .meerkat-image-gallery.ngg .gallery-icon img {
/*	margin: 4px 0px 4px 5px;*/
	padding: 4px;
	border: 1px solid #A9A9A9;
}
#content .meerkat-image-gallery.ngg .gallery-icon img:hover { background-color:#a9a9a9; }
#content .meerkat-image-gallery.ngg .gallery-caption {
    background:white;
	color:#373737;
	font-style:normal;
	border-bottom:none;
	padding: 4px 0 0;
}

/* tooltip */
#content .meerkat-image-gallery .tooltip,
#sidebar .meerkat-image-gallery .tooltip { 
	font-size:13px; 
	padding:5px 8px; 
	margin-top:30px; 
	margin-left:-20px; 
	color:#284463;
	max-width:350px;
}

/* defaults */
#content .meerkat-image-gallery ul li.icon-thumbnail { margin-right:10px; margin-bottom:10px; }
#content .meerkat-image-gallery li.icon-medium { margin-right:20px; margin-bottom:20px; }
#content .meerkat-image-gallery li.icon-large { margin-right:25px; margin-bottom:25px; }

#content .meerkat-image-gallery.gallery-columns-1
#content .meerkat-image-gallery.gallery-columns-2,
#content .meerkat-image-gallery.gallery-columns-3,
#content .meerkat-image-gallery.gallery-columns-4,
#content .meerkat-image-gallery.gallery-columns-5 { width:100%; }

/* based on cols */
#content .meerkat-image-gallery.gallery-columns-2 ul li.icon-thumbnail,
#content .meerkat-image-gallery.gallery-columns-3 ul li.icon-thumbnail { margin-right:25px; margin-bottom:25px; }

#content .meerkat-image-gallery.gallery-columns-4 ul li.icon-thumbnail { margin-right:20px; margin-bottom:20px; }
#content .meerkat-image-gallery.gallery-columns-5 ul li.icon-thumbnail { margin-right:5px; margin-bottom:5px; }

/* rules for row breaks */
#content .meerkat-image-gallery.gallery-columns-2 ul li:nth-child(2n+0) { margin-left:0; }
#content .meerkat-image-gallery.gallery-columns-2 ul li:nth-child(2n+1) { clear:left; }
#content .meerkat-image-gallery.gallery-columns-3 ul li:nth-child(3n+0) { margin-right:0; }
#content .meerkat-image-gallery.gallery-columns-3 ul li:nth-child(3n+1) { clear:left; }
#content .meerkat-image-gallery.gallery-columns-4 ul li:nth-child(4n+0) { margin-right:0; }
#content .meerkat-image-gallery.gallery-columns-4 ul li:nth-child(4n+1) { clear:left; }
#content .meerkat-image-gallery.gallery-columns-5 ul li:nth-child(5n+0) { margin-right:0; }
#content .meerkat-image-gallery.gallery-columns-5 ul li:nth-child(5n+1) { clear:left; }

.gallery-grid {overflow: auto;} 
.gallery-grid img { border:1px solid transparent; }
.gallery-grid img:hover { border:1px solid #27ACD3; }

.featherlight.featherlight-wp-gallery{
		overflow: auto;
		img, .featherlight-image{
			@include bullseye(absolute);
			max-width: 100%;
			width: auto;
			&.wrapper:after {
			    content: '';
			    display: block;
			    clear: both;
		}
	}
}
