/*------------------------------------------------------------------------------
 * FACULTY/STAFF PROFILE 
 *------------------------------------------------------------------------------*/
.profile-section { margin-bottom:15px; }

/* content indented except for first section */
.profile-subsection { margin:10px 0 20px 20px; }
.profile-contact, .profile-subsection { line-height:1.5; }
.profile-contact { float:left; max-width:70%; }

/* photo */
.profile-photo {
	float:left;
    border:1px solid #999;
	margin:0 15px 15px 0;
}

/* section headers */
body.wms-profile h3 { 
	color:#3F541D;
	clear:both;
	padding-bottom:2px; 
	margin:0;
	border-bottom:1px solid #CCC;
	font-size:20px;
}
/* alignment tweaks to headers and lists in customizable content areas */
body.wms-profile #content .profile-subsection h3 { margin:15px 0 10px -20px; line-height:1; }
body.wms-profile #content .profile-subsection h4 { font-size:15px; color:#3586AA; margin-bottom:5px; }
body.wms-profile #content .profile-interests ul { margin-left:-20px; } 

/* directory information */
.profile-dir-title { font-weight:bold; font-size:20px; margin-top:0; margin-bottom:4px; font-style:italic; line-height:1.2; }
.profile-additional-contact p { margin:0; }

.profile-email, .profile-website, .profile-cv { float:left; padding-right:25px; }
.profile-email a, .profile-website a, .profile-cv a { font-size:13px; }
body.wms-profile .sprite.web, body.wms-profile .sprite.email, body.wms-profile .sprite.pdf { margin-right:2px; margin-top:4px; }

.profile-dir-addr, .profile-dir-phone { clear:both; padding-top:4px; }

.profile-at-williams, .profile-additional-contact { margin-top:10px; }

/* course list on faculty profile - override default course list styles */
.profile-courses { float:left; width:100%; margin-bottom:25px; }
body.wms-profile .wms_courselist .course_unit { margin-bottom:0; width:100%; padding-right:0; }
body.wms-profile .wms_courselist a h4 { display:inline-block; margin-right:5px; }
body.wms-profile .course_code {
	font-size:13px; 
	color:#3586AA;
}
body.wms-profile .course_terms { color:#8AB840; font-size:12px; vertical-align:1px; color:#27ACD3}
body.wms-profile .not_offered { float:right; margin-top:-35px; color:#666; font-style:italic; font-size:12px; }
body.wms-profile .course_bottom { display:none; }
body.wms-profile .thesis  { display:none; } /* hide thesis/ind study from single view */

